*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  width:100vw;
}
button{
  width: 33%;  
  display: inline-block;
  flex-direction: row;
  justify-content:space-around ;
  height:5vw;
  border-radius: 5px;
  font-size:1.5em;
}
@media (min-width:50px) {
    button{
        flex-direction: row;
    }
  }
#nav-bar{
    position: fixed;
    height:5vw;
    top:5%;
    /* left:5%; */
    /* right:5%; */
    width: 100%;
}
#header-img{
  max-width:inherit;
}